* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  color: black;
}

main {
  width: 100%;
  height: 100vh;
  background-color: #2c2c2c;
  box-shadow: inset 0px 0px 50px rgb(0, 0, 0);
}

.form-container {
  padding: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: rgb(196, 195, 195);*/
}

.form-container label {
  color: white;
}

.form-container form {
  background-color: rgb(29, 29, 29);
  border-radius: 20px;
  color: white;
}

.form-container h1,
h2 {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
  padding: 10px;
  color: rgb(255, 255, 255);
}

.form-group {
  padding: 35px;
}

.form-group input,
button {
  cursor: pointer;
  width: 100%;
  border-radius: 15px;
  color: black;
}

.list-container {
  padding: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-result {
  padding: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.list-result table {
  background-color: rgb(233, 232, 235);
  padding: 30px;
  width: 70%;
  color: black;
}

button {
  background-color: cadetblue;
  color: black;
  font-weight: bolder;
  height: 30px;
  border-radius: 15px;
}

select {
  width: 100%;
  border-radius: 15px;
}
