<app-header></app-header>

@if (loadingOn) {
<app-loading></app-loading>
} @else {
<main>
  <div class="form-container">
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <h1>CADASTRAR TAREFA</h1>

      <div class="form-group">
        <label for="descricao">DESCRIÇÃO</label>
        <input
          type="text"
          id="descricao"
          formControlName="descricao"
          placeholder="Insira a descrição"
        />
      </div>

      <div class="form-group">
        <label for="dataVencimento">DATA DE VENCIMENTO</label>
        <input
          type="date"
          id="dataVencimento"
          formControlName="dataVencimento"
        />
      </div>

      <div class="form-group">
        <label for="status">STATUS</label>
        <select id="status" formControlName="status">
          <option value="" disabled>Selecione um status</option>
          <option value="Pendente">Pendente</option>
          <option value="Em Andamento">Em Andamento</option>
          <option value="Concluida">Concluída</option>
        </select>
      </div>

      @if (taskFormError) {
      <div class="alert alert-danger general-error">
        <span>{{ taskFormError }}</span>
      </div>
      }

      <button type="submit" class="btn" [disabled]="taskForm.invalid">
        ADICIONAR TAREFA
      </button>
    </form>
  </div>

  <div class="list-result">
    <h2>LISTA DE TAREFAS</h2>
    @if (taskList && taskList.length > 0) {
    <table border="1px">
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Data de Vencimento</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        @for (task of taskList; track $index) {
        <tr>
          <td>{{ task.descricao }}</td>
          <td>{{ task.dataVencimento }}</td>
          <td>{{ task.status }}</td>
          <td>
            <button (click)="deleteTask($index)" class="btn btn-danger">
              Excluir
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    } @else {
    <p>Nenhuma tarefa cadastrada</p>
    }
  </div>
</main>
}

<app-footer></app-footer>
